* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


h3 {
    font-size: 18px;
    font-weight: 400;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: white;
}

.logo {
    padding: 70px 0 70px 0px;
}

.menu {
    list-style-type: none;
    display: flex;
    height: 155px;
}

.menu-item {
    position: relative;
    height: 140px;
    background-color: black;
    width: 14.30%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 100;
}

.menu-item:hover {
    height: 155px;
    background-color: red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menu-item::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: gray;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menu-item:hover::after{
    height: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menu-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.menu-item img {
    margin-top: 30px;
    width: 28%;
}

.menu-item.o-nas img {
    width: 23%;
}

.menu-item h4 {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-weight: 400;
}



/* sub-menu */

.sub-menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 10;
    list-style-type: none;
}

.menu-item:hover .sub-menu {
    visibility: visible;
    height: 0;
    opacity: 1;
    transform: translateY(0%);
}

.menu-item:hover .sub-menu-item {
    visibility: visible;
    height: 60px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    font-size: 16px;
}

.sub-menu-item {
    visibility: hidden;
    background-clip: padding-box;
    border-top: 5px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
    font-size: 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.sub-menu-item:hover {
    background-color: red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.sub-menu-item a {
    justify-content: center;
    color: #E0E0E0;
    text-align: center;
}

/* mobile navigation */


.mobile-nav {
    display: none;
    width: 100%;
}

.hamburger {
    box-sizing: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 24px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.bar1-open {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.bar2-open {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.bar3-open {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -6px);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.menu-line {
    display: block;
    height: 5px;
    width: 100%;
    margin-top: 10px;
    background-color: #A0A0A0;
}

.mobile-menu {
    display: none;
    list-style-type: none;
}

.mobile-menu li {
    display: flex;
    height: 50px;

}

.mobile-menu li div {
    height: 100%;
    width: 5px;
}

.mobile-menu li a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.mobile-menu li a img {
    height: 35px;
    margin-left: 15px;
}

.mobile-menu li p {
    margin-left: 15px;
    text-decoration: none;
}

/* grid */

main {
    margin-top: 105px;
}

.grid-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
    z-index: -1000;
}

.grid-container::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    z-index: -1000;
}

.grid-container>*:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid-item {
    cursor: pointer;
    position: relative;
    color: white;
    overflow: hidden;
}

.grid-item img {
    width: 80px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
}

.grid-item>h3 {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 63%;
    white-space: nowrap;
}

.grid-item-1 {
    background-color: #565656;
}

.grid-item-1 img {
    width: 100px;
}

.grid-item-2 {
    background-color: #383838;
}

.grid-item-3 {
    background-color: #a0a0a0;
}

.grid-item-4 {
    background-color: rgba(255, 0, 0, 0.6);
}

.grid-item-4::after,
.grid-item-5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
}

.grid-item-4::after {
    background-image: url('../img/kolornik.jpg');
}

.grid-item-5 {
    grid-row: 2/4;
    background-color: rgba(32, 32, 32, 0.6);

}

.grid-item-5>h3 {
    top: 53%;
}

.grid-item-5::after {
    background-image: url(../img/projektowanie.jpg);
    background-position: center;
}

.grid-item-6 {
    grid-column: 2/5;
    background-color: rgba(56, 56, 56, 0.6);
}

.grid-item-6::before {
    background-position: top center;
    background-size: 100%;
}

.grid-item-6 img {
    width: 105px;
}

.grid-item-7 {
    background-color: rgba(255, 0, 0, 0.6);
}

.grid-item-7::before {
    background-position: bottom left;
    background-size: 304%;
}

.grid-item-8 {
    grid-column: 3/5;
    background-color: rgba(128, 128, 128, 0.5);
}

.grid-item-8::before {
    background-position: bottom right;
    background-size: 150%;
    ;
}

.grid-item-9 {
    grid-column: 1/3;
    background-color: #818181;
}

.grid-item-10 {
    grid-column: 3/5;
    background-color: #303030;
}

.grid-item-6::before,
.grid-item-7::before,
.grid-item-8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url('../img/main-background.jpg');
}

.grid-overlay {
    top: 200%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.grid-item:hover .grid-overlay {
    top: 0;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.grid-overlay>h3 {
    background-color: black;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
}

.grid-overlay>p {
    max-width: 400px;
    text-align: center;
    font-size: 16px;
    margin: 2vh auto 0 auto;
}

.grid-overlay>a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 2vh 30px;
    padding: 8px 30px;
    background-color: black;
}

.grid-item::before:hover {
    background-color: red;
}

footer {
    margin: 100px 0px 150px 0;
}

.facebook-frame {
    position: relative;
    top: 40%;
    right: -210px;
    position: fixed;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #4867aa;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.facebook-frame img {
    position: absolute;
    top: 0;
    left: -33px;
    height: 100px;
    border-top-left-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
}

.facebook-frame:hover {
    right: -5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


@media (max-width: 940px) {
    .logo {
        width: 70%;
    }

    .menu {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .grid-overlay>p,
    .grid-overlay>p {
        margin: 5px auto 0 auto;
        font-size: 2vw;
    }

    .grid-container {
        grid-template-columns: repeat(3, minmax(8rem, 1fr));
    }

    .grid-item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-item-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .grid-item-4 {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .grid-item-5 {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .grid-item-5>h3 {
        top: 60%;
    }

    .grid-item-6 {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    .grid-item-7 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .grid-item-8 {
        grid-column: 2/5;
        grid-row: 4/5;
    }

    .grid-item-9 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .grid-item-9 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .grid-item-10 {
        grid-column: 3/5;
        grid-row: 5/6;
    }

}

@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(8rem, 1fr));
    }

    .grid-item h3 {
        font-size: 13.5px;
        top: 70%
    }

    .grid-item-5 h3 {
        top: 75%;
    }

    .grid-item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-item-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .grid-item-3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .grid-item-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .grid-item-5 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .grid-item-6 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .grid-item-7 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .grid-item-8 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .grid-item-9 {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .grid-item-9 {
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .grid-item-10 {
        grid-column: 1/3;
        grid-row: 7/8;
    }

    .grid-overlay>h3 {
        background-color: black;
        text-align: center;
        padding: 5px;
        margin-top: 15px;
    }

    .grid-overlay>p {
        font-size: 3vw;
        margin: 15px auto 0 auto;
    }

    .grid-overlay>a {
        cursor: pointer;
        display: block;
        text-decoration: none;
        text-align: center;
        color: white;
        margin: 15px 30px;
        padding: 8px 30px;
        background-color: black;
    }
}


























/* colors */

.color-1 {
    background-color: #818181;
}

.color-2 {
    background-color: #a0a0a0;
}

.color-3 {
    background-color: #484848;
}

.color-4 {
    background-color: #696969;
}

.color-5 {
    background-color: #909090;
}

.color-6 {
    background-color: #484848;
}

.color-7 {
    background-color: #383838;
}

.home {
    background-color: #565656;
}

.o-nas {
    background-color: #a0a0a0;
}

.technologie {
    background-color: #686868;
}

.protetyka {
    background-color: #383838;
}

.implantoprot {
    background-color: #818181;
}

.szablony {
    background-color: #303030;
}

.kontakt {
    background-color: #181818;
}

.side-color-1 {
    background-color: red;
}

.side-color-2 {
    background-color: #cc6600;
}

.side-color-3 {
    background-color: #0066cc;
}

.side-color-4 {
    background-color: #003399;
}

.side-color-5 {
    background-color: #00256b;
}

.side-color-6 {
    background-color: #001233;
}

.side-color-7 {
    background-color: #cc6600;
}